<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
		<File name="MyFile" fileName="logs/objectlogger.log">
			<PatternLayout>
				<Pattern>%msg%n</Pattern>
			</PatternLayout>
		</File>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n" />
		</Console>
		<Async name="Async">
			<AppenderRef ref="MyFile" />
		</Async>
	</Appenders>
	<Loggers>
		<Logger name="com.talosdigital.reflection.ObjectLogger"
			level="debug"
			additivity="false">
			<AppenderRef ref="MyFile"/>
		</Logger>
		<Root level="WARN">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>